# Ignore everything
*

# But not these files...
!.gitignore
!iris.labels
!iris.dat
!iris-mdr-rgmb.json
!wine.labels
!wine.dat
!wine-mdr-gmb.json
!breast-cancer.labels
!breast-cancer.dat
!breast-cancer-mdr-gmb.json
