# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!COPYING.md
!args
!input
!output
!args/*
!mdr-mob.py
!mdr-opm.py
!mob.so
!helper.so
!helperigraph.so
!similarity.so
!args.so
!timing.so
!plot2Dfa.py
!plot2Dpca.py
!plot2Dmdr.py
