# Ignore everything
*

# But not these files...
!.gitignore
!iris-fa.png
!iris-pca.png
!iris-mdr.png
!iris-lsa.png
!wine-fa.png
!wine-pca.png
!wine-mdr.png
!wine-lsa.png
!breast-cancer-fa.png
!breast-cancer-pca.png
!breast-cancer-mdr.png
!breast-cancer-lsa.png
